extends layout

block content
  h1= title
  p Welcome to #{title}
  p rows:#{query.rows} , columns:#{query.cols}
  - var rows=Number(query.rows)
  - var cols=Number(query.cols)
  p Please pass query parameters in URL
  if (row==NaN|| cols==NaN)
   if !(Number.isInteger(rows)) ||  !(Number.isInteger(cols))
    p Given parameter values are not integers 
  else if rows > 6
   p The entered rows value should be less than 6
  else if cols > 6
   p The entered column value should be less than 6
  else
   table#outer
    - for(let i=0; i<rows; i++) {
     tr#middle
      - for(let j=0; j<cols; j++) {
       td=((i+j)%rows)
      -}
    -}